[package]
name = "buttplug"
version = "5.1.8"
authors = ["Nonpolynomial Labs, LLC <kyle@nonpolynomial.com>"]
description = "Buttplug Intimate Hardware Control Library"
license = "BSD-3-Clause"
homepage = "http://buttplug.io"
repository = "https://github.com/buttplugio/buttplug.git"
readme = "../README.md"
keywords = ["usb", "serial", "hardware", "bluetooth", "teledildonics"]
edition = "2021"
exclude = ["examples/**"]

[features]
# Basic features
default=["tokio-runtime", "client", "server", "serialize-json", "btleplug-manager", "websockets", "xinput-manager", "serial-manager", "lovense-dongle-manager", "lovense-connect-service-manager", "websocket-server-manager"]
client=[]
server=[]
serialize-json=[]
# Connectors
websockets=["serialize-json", "async-tungstenite", "native-tls"]
# Device Communication Managers
xinput-manager=["server"]
btleplug-manager=["server", "btleplug"]
serial-manager=["server", "serialport"]
lovense-dongle-manager=["server", "serialport", "hidapi"]
lovense-connect-service-manager=["server","reqwest"]
websocket-server-manager=["server", "websockets"]
# Runtime managers
tokio-runtime=["tokio/rt-multi-thread", "async-tungstenite/tokio-runtime", "async-tungstenite/tokio-native-tls"]
wasm-bindgen-runtime=["wasm-bindgen", "wasm-bindgen-futures", "futures-timer/wasm-bindgen"]
dummy-runtime=[]
# Compiler config
unstable=[]

[dependencies]
# buttplug_derive = { path = "../buttplug_derive" }
native-tls = { version = "0.2.8", optional = true }
buttplug_derive = "0.6.2"
futures = "0.3.21"
futures-util = "0.3.21"
async-trait = "0.1.52"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
serde_repr = "0.1.7"
uuid = { version = "0.8.2", features = ["serde"] }
url = "2.2.2"
btleplug = { version = "0.9.2", optional = true }
# btleplug = { path = "../../btleplug", optional = true}
# btleplug = { git = 'https://github.com/deviceplug/btleplug', branch = 'master', optional = true }
strum_macros = "0.24.0"
strum = "0.24.0"
once_cell = "1.10.0"
paste = "1.0.6"
lazy_static = "1.4.0"
byteorder = "1.4.3"
thiserror = "1.0.30"
async-tungstenite = { version = "0.17.1", optional = true }
futures-timer = "3.0.2"
wasm-bindgen-futures = { version = "0.4.29", optional = true }
cfg-if = "1.0.0"
tracing = "0.1.31"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3.9", features = ["json"] }
dashmap = "5.1.0"
displaydoc = "0.2.3"
serialport = { version = "4.0.1", optional = true }
# Linux hidraw is needed here in order to work with the lovense dongle. libusb breaks it on linux.
# Other platforms are not affected by the feature changes.
hidapi = { version = "1.3.3", default-features = false, features = ["linux-static-hidraw", "illumos-static-libusb"], optional = true }
wasm-bindgen = { version = "0.2.79", optional = true }
tokio = { version = "1.17.0", features = ["sync", "macros", "io-util"] }
async-stream = "0.3.2"
prost = "0.9.0"
tokio-util = "0.7.0"
reqwest = { version = "0.11.9", optional = true, features = ["native-tls"] }
serde-aux = "3.0.1"
getset = "0.1.2"
os_info = "3.2.0"
jsonschema = "0.15.0"

[target.'cfg(windows)'.dependencies]
rusty-xinput = "1.2.0"

[dev-dependencies]
tokio = { version = "1.17.0", features = ["io-std"] }
tracing-log = { version = "0.1.2", features = ["env_logger"] }

[lib]
name = "buttplug"
path = "src/lib.rs"
test = true
doctest = true
doc = true

# Only build docs on one platform (linux)
[package.metadata.docs.rs]
targets = []
# Features to pass to Cargo (default: [])
features = ["default", "unstable"]

[build-dependencies]
prost-build = "0.9.0"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.33.0", features = ["Devices_Bluetooth", "Foundation"] }
