[package]
name = "buttplug"
version = "7.0.1"
authors = ["Nonpolynomial Labs, LLC <kyle@nonpolynomial.com>"]
description = "Buttplug Intimate Hardware Control Library"
license = "BSD-3-Clause"
homepage = "http://buttplug.io"
repository = "https://github.com/buttplugio/buttplug.git"
readme = "./README.md"
keywords = ["usb", "serial", "hardware", "bluetooth", "teledildonics"]
edition = "2021"
exclude = ["examples/**"]

[lib]
name = "buttplug"
path = "src/lib.rs"
test = true
doctest = true
doc = true

# Only build docs on one platform (linux)
[package.metadata.docs.rs]
targets = []
# Features to pass to Cargo (default: [])
features = ["default", "unstable"]

[features]
# Basic features
default=["tokio-runtime", "client", "server", "serialize-json", "websockets", "btleplug-manager", "xinput-manager", "serial-manager", "lovense-dongle-manager", "lovense-connect-service-manager", "websocket-server-manager"]
client=[]
server=[]
serialize-json=[]
# Connectors
websockets=["serialize-json", "async-tungstenite", "native-tls"]
# Device Communication Managers
xinput-manager=["server"]
btleplug-manager=["server", "btleplug"]
serial-manager=["server", "serialport"]
lovense-dongle-manager=["server", "serialport", "hidapi"]
lovense-connect-service-manager=["server","reqwest"]
websocket-server-manager=["server", "websockets"]
# Runtime managers
tokio-runtime=["tokio/rt-multi-thread", "async-tungstenite/tokio-runtime", "async-tungstenite/tokio-native-tls"]
wasm-bindgen-runtime=["wasm-bindgen", "wasm-bindgen-futures"]
dummy-runtime=[]
# Compiler config
unstable=[]

[dependencies]
buttplug_derive = "0.8.0"
# buttplug_derive = { path = "../buttplug_derive" }
native-tls = { version = "0.2.11", optional = true }
futures = "0.3.26"
futures-util = "0.3.26"
async-trait = "0.1.64"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
serde_repr = "0.1.10"
uuid = { version = "1.3.0", features = ["serde"] }
url = "2.3.1"
btleplug = { version = "0.10.4", optional = true }
# btleplug = { path = "../../btleplug", optional = true}
# btleplug = { git = 'https://github.com/deviceplug/btleplug', branch = 'master', optional = true }
strum_macros = "0.24.3"
strum = "0.24.1"
once_cell = "1.17.1"
paste = "1.0.11"
lazy_static = "1.4.0"
byteorder = "1.4.3"
thiserror = "1.0.38"
async-tungstenite = { version = "0.20.0", optional = true }
wasm-bindgen-futures = { version = "0.4.34", optional = true }
cfg-if = "1.0.0"
tracing = "0.1.37"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3.16", features = ["json"] }
dashmap = "5.4.0"
displaydoc = "0.2.3"
wasm-bindgen = { version = "0.2.84", optional = true }
tokio = { version = "1.25.0", features = ["sync", "macros", "io-util"] }
async-stream = "0.3.4"
prost = "0.11.6"
tokio-util = "0.7.7"
reqwest = { version = "0.11.14", optional = true, features = ["native-tls"] }
serde-aux = "4.1.2"
getset = "0.1.2"
os_info = "3.6.0"
jsonschema = { version = "0.16.1", default-features = false, features = ["resolve-file"] }
derivative = "2.2.0"
tokio-stream = "0.1.11"

[dev-dependencies]
serde_yaml = "0.9.17"
test-case = "3.0.0"
tokio = { version = "1.25.0", features = ["io-std"] }
tracing-log = { version = "0.1.3", features = ["env_logger"] }

[build-dependencies]
prost-build = "0.11.6"

[target.'cfg(target_os = "windows")'.dependencies]
rusty-xinput = "1.2.0"
windows = { version = "0.44.0", features = ["Devices_Bluetooth", "Foundation"] }
serialport = { version = "4.2.0", optional = true }
# Linux hidraw is needed here in order to work with the lovense dongle. libusb breaks it on linux.
# Other platforms are not affected by the feature changes.
hidapi = { version = "2.1.3", default-features = false, features = ["linux-static-hidraw", "illumos-static-libusb"], optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
serialport = { version = "4.2.0", optional = true }
# Linux hidraw is needed here in order to work with the lovense dongle. libusb breaks it on linux.
# Other platforms are not affected by the feature changes.
hidapi = { version = "2.1.3", default-features = false, features = ["linux-static-hidraw", "illumos-static-libusb"], optional = true }

[target.'cfg(target_os = "macos")'.dependencies]
serialport = { version = "4.2.0", optional = true }
# Linux hidraw is needed here in order to work with the lovense dongle. libusb breaks it on linux.
# Other platforms are not affected by the feature changes.
hidapi = { version = "2.1.3", default-features = false, features = ["linux-static-hidraw", "illumos-static-libusb"], optional = true }
